@use 'variables' as *;

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin breakpoint-md {
  @media (min-width: $bp-md) {
    @content;
  }
}

@mixin breakpoint-lg {
  @media (min-width: $bp-lg) {
    @content;
  }
}
