@use '../variables' as *;

.answer-adjudication__show-answer-spacer {
  margin-top: 10rem;
}

.answer-adjudication__button-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;

  .answer-adjudication__show-answer-btn,
  .answer-adjudication__pass-btn {
    flex: 1;
  }
}

.answer-adjudication__correct-btn {
  background-color: $color-cyan;
  border: 2px solid $color-border;

  &:hover:not(:disabled) {
    background-color: $color-cyan-hover;
  }
}
