@use '../variables' as *;

.answer-adjudication {
  background-color: $color-primary-nav;
  border: 2px solid $color-border-section;
}

.answer-adjudication__show-answer-spacer {
  margin-top: 3rem;
}

.answer-adjudication__correct-btn {
  background-color: $color-cyan;
  border: 2px solid $color-border;

  &:hover:not(:disabled) {
    background-color: $color-cyan-hover;
  }
}
