@use '../variables' as *;

.answer-adjudication__show-answer-spacer {
  margin-top: 10rem;
}

.answer-adjudication__correct-btn {
  background-color: $color-cyan;
  border: 2px solid $color-border;

  &:hover:not(:disabled) {
    background-color: $color-cyan-hover;
  }
}
